.publications {
  .publication-title {
    color: var(--global-theme-color);
    text-decoration: none;
    
    &:hover {
      color: var(--global-hover-color);
      text-decoration: underline;
    }
  }
} 