---
---

<div class="row">
  <div class="col-sm-2 abbr">
    {%- if entry.abbr -%}
      {%- if site.data.venues[entry.abbr] -%}
        <abbr class="badge">
          <a href="{{ site.data.venues[entry.abbr].url }}">{{entry.abbr}}</a>
        </abbr>
      {%- else -%}
        <abbr class="badge">{{entry.abbr}}</abbr>
      {%- endif -%}
    {%- endif -%}
  </div>

  <div id="{{entry.key}}" class="col-sm-8">
    {% if entry.project_page %}
      <div class="title">
        <a href="{{ '/projects/' | relative_url }}{{ entry.project_page }}/">{{entry.title}}</a>
      </div>
    {% else %}
      <div class="title">{{entry.title}}</div>
    {% endif %}
    <div class="author">
      {% for author in entry.author_array %}
        {% include author-name.html %}
      {% endfor %}
    </div>

    <div class="periodical">
      {%- if entry.type == "thesis" -%}
        {%- if entry.school -%}
          <em>{{entry.school}}</em>
        {%- endif -%}
      {%- else -%}
        {%- if entry.journal -%}
          <em>{{entry.journal}}</em>
        {%- elsif entry.booktitle -%}
          <em>{{entry.booktitle}}</em>
        {%- endif -%}
      {%- endif -%}
      {%- if entry.year -%}
        {{entry.year}}
      {%- endif -%}
    </div>
  </div>
</div> 